.item {
  width: 100%;
}
.link {
  text-decoration: none;
  color: inherit;
}

.img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 450px;
}

.title {
  margin-top: 5px;
  font-size: 1rem;
  text-transform: uppercase;
}
