.list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(290px, 300px));
  grid-auto-rows: max-content;
  grid-gap: 14px;
  align-items: stretch;
  justify-content: center;
}
